/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$grey: #f3f3f3;
$black: #000000;
$white: #ffffff;

$default_size: 10px;
$xxl_break: 1350px;
$xl_break: 1199px;
$lg_break: 991px;
$md_break: 767px;
$sm_break: 575px;